<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../styles/bundle.css" />
  </head>
  <body>
    <div class="jumbotron">
				<h1>Pluralsight Administration</h1>
				<p>React, React Router, and Flux for ultra-responsive web apps.</p>
			</div>
   <input type="button" value="Subscriptions" class=""/>
  </body>

  <script>
    // You can also require other files to run in this process
    require('../scripts/renderer.js')
  </script>
</html>